<%- include('../partials/header') %>

    <h2>Flight Board</h2>
    <table id="main-table">
        <thead>
            <tr>
                <th></th>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight No.</th>
                <th>Departs</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach((flight, index)=> {
                let departureDate = new Date(flight.departs);
                let currentDate = new Date();
                let rowClass = departureDate < currentDate ? "date-passed fade-in-row" : "fade-in-row" ; %>
                    <tr class="<%= rowClass %>" data-index="<%= index %>">
                        <td>
                            <a href="/flights/<%= flight.id %>">
                                <button class="detail-btn">Detail</button>
                            </a>
                        </td>
                        <td>
                            <%= flight.airline %>
                        </td>
                        <td>
                            <%= flight.airport %>
                        </td>
                        <td>
                            <%= flight.flightNo %>
                        </td>
                        <td>
                            <%= flight.departs %>
                        </td>
                    </tr>
                    <% }) %>
        </tbody>

    </table>

    <%- include('../partials/fade-in-effect') %>

    <%- include('../partials/footer') %>